<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <a href="mailto:kagrawal@wpi.edu" class="btn btn-xl">
                    <i class="fa fa-envelope fa-bigx" aria-hidden="true"></i>
                    kagrawal@wpi.edu
                </a>
                <br/>
                <h3 style="color:white; font-size: 16px;">United States</h3>
            </div>
        </div>
    </section>
