<!-- About Section -->
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">Work Experience details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/futurewei.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>May 2020 - Dec 2020</h4>
                                <h4 class="subheading">Futurewei Technologies Inc., USA</h4>
                                <h4 class="subheading">Research Intern - AI/ML and Big Data</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><span style="color: #fed136; font-weight:bolder;">Apache Spark, Java, Scala, HDFS, Alluxio, Bash Script, Git, Agile, JIRA</span></li>
                                    <li>Worked on the open source Apache Spark project for the optimization of the current Shuffle stage by modifying source code of Apache Spark</li>
                                    <li>The goal of the project is to reduce the number of I/O operations and improve the overall speed of the Map-Reduce process</li>
                                    <li>Created shell scripts to automatically run experiments and collect metrics in CSV format.</li>
                                    <li>Worked on Merge based Shuffle implementation using HDFS to convert random reads to sequential reads using cache memory.</li>
                                    <li>Implemented Aggregate-based Shuffle in Spark using Alluxio and HDFS</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/cognizant.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>Feb 2018 - May 2019</h4>
                                <h4 class="subheading">Cognizant Technology Solutions, India</h4>
                                <h4 class="subheading">Salesforce Associate</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><span style="color: #fed136; font-weight:bolder;">Salesforce Classic, Salesforce Lightning, Apex, Visualforce, JavaScript, Agile, Git</span></li>
                                    <li>Worked on agile project to optimize and enhance the search directory portal for UK financial authority.</li>
                                    <li>Improved system performance by migrating design from Salesforce Classic to Salesforce Lightning.</li>
                                    <li>Led the project to migrate code base from one salesforce organization to another.</li>
                                    <li>Written test classes to make code production ready with up to 95% code coverage.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/infosys.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>July 2014 - Jan 2018</h4>
                                <h4 class="subheading">Infosys Limited, India</h4>
                                <h4 class="subheading">Senior System Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><i class="fa fa-trophy"></i><strong>Award:</strong> Insta-Award winner at Infosys Limited for exemplary performance</li>
                                    <li><span style="color: #fed136; font-weight:bolder;">Siebel CRM, Java, JavaScript, SDLC, Rest APIs, Agile, Visual Studio, Waterfall structure</span></li>
                                    <li>Worked as a Siebel CRM application developer and automated the process of Exchange and Return integrating several 
                                        end system APIs, where we saved nearly 90% time per service request creation.</li>
                                    <li>I've worked on client-site closely with stakeholders and  business analysts to understand and deliver requirements.</li>
                                    <li>Actively contributed to all the stages of software development lifecycle (SDLC) including support during/post production release for smooth go-lives providing quick bug-fixes during the release.</li>
                                    <li>Provided project training sessions to new joiners and mentored them throughout the project.</li>
                                    <li>Actively proposed better solutions to ease the User Interface on application.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>