<section id="recommendation" class="bg-light-gray">
        <div class="container">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recommendations</h2>
            </div>
            <div class="row">
              <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position: relative;">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item py-5 active">
                      <!-- <div class="row"> -->
                        <!-- <div class="col-sm-6"> -->
                            <div class="card carousel-cards">
                              <div class="card-body">
                                <p class="card-text text-muted">I have had the privilege of having Kratika assist on my data science research project. Kratika has shown amazing initiative, going above and beyond what was asked of her. Thanks to her inquisitiveness, we are experimenting with exciting new directions. In this project, Kratika has implemented and modified state-of-the-art deep learning models using TensorFlow. I have been impressed by Kratika's ability to learn and dedication to finding solutions. Further, Kratika is a valuable team member and a pleasure to work with. I can't wait to see what else Kratika achieves on this project and in future roles.</p>
                                <div class="text-right">
                                  <p>- Monica Lauren Tlachac <br/> Data Science PhD Candidate, WPI</p>
                                </div>
                              </div>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="col-sm-6"> -->
                            <div class="card carousel-cards">
                              <div class="card-body">
                                <p class="card-text text-muted">Hard-working, eager to learn, and easy to work with are few of the qualities that Kratika possesses. I had the pleasure to work with her, when she was a Research Intern at Futurewei Technologies from May up to December of 2020.<br/>
                                  Kratika successfully worked in a project called "Smart Shuffle". Shuffle is a time-consuming and complex operation that is part of a large amount of Big Data queries. During her tenure with Futurewei Technologies, Kratika quickly became familiar with the Shuffle protocol in Spark, which consists of thousands of lines of Scala and Java code, displaying her ability
                                  to learn new concepts in a short amount of time. She also helped in the design, implementation, testing, and evaluation of three new Shuffle protocols on top of the Spark baseline one. These new shuffle protocols managed in some cases to achieve up to 20% reduction in query execution time. Kratika gained valuable experience in the Software Development Life Cycle from this project and showed amazing software skills while working on a large Spark codebase.<br/> Her perseverance and her positive attitude during the harsh times of a pandemic, is what I admired the most about Kratika. She managed to successfully finish her tenure with Futurewei despite working remotely in a completely new setting and project and with limited resources and equipment due to the pandemic. This is a true statement to her will to learn and create new solutions even if the environment is not ideal.<br/>
                                    Kratika would be a great asset to companies looking for Data Scientists or Data Engineers and I would highly recommend her for these roles.</p>
                                <div class="text-right">
                                  <p>- Theodoros Gkountouvas <br/> Senior Software Engineer, Futurewei Technologies Inc.</p>
                                </div>
                              </div>
                            </div>
                        <!-- </div> -->
                      <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="carousel-item py-5"> -->
                    <!-- <div class="row"> -->
                      <!-- <div class="col-sm-6"> -->
                          <div class="card carousel-cards">
                            <div class="card-body">
                              <p class="card-text text-muted">It was a great pleasure working with Kratika. We did a research-like project in Named Entity Recognition together. She combined theoretical knowledge and practical skills so well thus she was always capable of coming up with multiple ways to solve the challenges. Plus she was responsible and active in teamwork and I’m sure she’ll fit in and make contributions to every team.</p>
                              <div class="text-right">
                                <p>- Jing Yu <br/> Data Science Master's Student, WPI</p>
                              </div>
                            </div>
                          </div>
                      <!-- </div> -->
                      <!-- <div class="col-sm-6"> -->
                          <div class="card carousel-cards">
                            <div class="card-body">
                              <p class="card-text text-muted">Kratika is motivated data science enthusiast.. For any problem, she is always curious to explore new solutions and state of the art solutions in machine learning and deep learning. I have worked with Kratika on different project while studying at Worcester Polytechnic Institute and she has always given her best. She is dedicated, intelligent and passionate individual who will be asset to any organization!</p>
                              <div class="text-right">
                                <p>- Manasi Shrotri <br/> Data Science Master's Student, WPI</p>
                              </div>
                            </div>
                          </div>
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="carousel-item py-5"> -->
                    <!-- <div class="row"> -->
                      <!-- <div class="col-sm-6"> -->
                          <div class="card carousel-cards">
                            <div class="card-body">
                              <p class="card-text text-muted">I worked with Kratika on multiple projects. Kratika has sound Machine Learning and modelling skills, and is adept at building neural networks for different tasks. I worked with Kratika on two projects, and she has been a pleasure to work with. She is a team player, and is always ready to sit down and work through difficult problems with her teammates. Kratika is very resourceful, and always ready to help. She can work with everyone with ease, and would be a great asset to any team.</p>
                              <div class="text-right">
                                <p>- Priyanka Phadnis <br/> Data Science Master's Student, WPI</p>
                              </div>
                            </div>
                          </div>
                      <!-- </div> -->
                      <!-- <div class="col-sm-6"> -->
                          <div class="card carousel-cards">
                            <div class="card-body">
                              <p class="card-text text-muted">I had worked with Kratika in one of CRM implementation project. I found her to be thoroughly professional and extremely detail oriented. She always had the right questions to ask to ensure we have all the required information and also the right answers when it comes to complex situations and problem solving. Her technical skills are complemented by very good communication skills and positive attitude. Kratika is very dependable professional and a team player, I would be happy to have her in my team again.</p>
                              <div class="text-right">
                                <p>- Pradeep Purohit <br/> Project Manager, Cognizant Technology Solutions</p>
                              </div>
                            </div>
                          </div>
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="carousel-item py-5"> -->
                    <!-- <div class="row"> -->
                      <!-- <div class="col-sm-6"> -->
                          <div class="card carousel-cards">
                            <div class="card-body">
                              <p class="card-text text-muted">She's has been one of the most hardworking girl I have met. We worked together for Dell on Siebel CRM and i still remember how dedicated she was to her work. It was great working with you Kratika!! Keep up the good work and hope to work with you again soon!! Tc 🤗</p>
                              <div class="text-right">
                                <p>- Anurag Narang <br/> Senior System Engineer, Infosys Limited</p>
                              </div>
                            </div>
                          </div>
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
